$font-stack: Arial, sans-serif;
$primary-color: red;

header {
    font: 100% $font-stack;
    color: $primary-color;
    border: 1px solid pink;
    display: inline flex;

    a {
        text-decoration: none;
    }
}

footer {
    border: 1px solid pink;
}