@import "../layouts/partial";

$component-padding: 0.5rem;

.post-card {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 2rem auto;
  box-shadow: -0.1rem 0.5rem 2rem rgb(221, 221, 221);
  text-decoration: none;
  width: 60%;

  a {
    color: $primary-text-color;
    text-decoration: none;
  }
  h4 {
    margin: 0;
  }
  p {
    padding: $component-padding;
    padding-top: 0;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.post-card-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $component-padding;

  .post-card-date {
    color: gray;
  }
}

@media only screen and (max-width: 540px) {
  .post-card {
    margin: 2rem auto;
    width: 100%;
  }
}