$font-stack: Arial, sans-serif;
$primary-color: rgb(22, 22, 22);
$secondary-color: rgb(59, 94, 59);
$layout-text-color: white;
$layout-hover-color: #f0f0f0;
$primary-text-color: black;
$link-color: darkcyan;