$font-stack: Arial, sans-serif;
$primary-color: rgb(22, 22, 22);
$secondary-color: rgb(128, 64, 0);
$layout-text-color: white;
$layout-hover-color: #cfcfcf;
$primary-text-color: black;
$link-color: darkcyan;