@import "./_partial.scss";

body {
  margin: 0;
}
.page-wrapper {
  /* 5em is main top margin for fixed header,
  which does not affect spacing of other elements */
  min-height: calc(100vh - 5em);
  position: relative;
}
.header {
  font: 100% $font-stack;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: $primary-color;
  padding: 10px;
  border-bottom: 5px solid $secondary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    width: fit-content;
    display: inline;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color:white;
  }
  a:hover {
    color:#f0f0f0;
  }
  .options-container {
    margin-left: auto;
  }
}
@mixin main-content-invariant() {
  line-height: 1.5;
  padding-bottom: 5em;
}
@media only screen and (min-width: 540px) {
  .main-content {
    @include main-content-invariant;
    margin: 5em 20% 0;
  }
}
@media only screen and (min-width: 360px) and (max-width: 540px) {
  .main-content {
    @include main-content-invariant;
    margin: 5em 2em 0;
  }
  .header h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 360px) {
  .main-content {
    @include main-content-invariant;
    margin: 4em 1em 2em;
  }
  .header h1 {
    font-size: 24px;
  }
}
.footer {
  background-color: $primary-color;
  border-top: 2px solid $secondary-color;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .socials {
    display: flex;
    flex-direction: row;
  }
  .social-buttons {
    margin-left: 16px;
    image {
      height: 20px;
      width: 20px;
    }
    a:visited {
      color: white;
    }
    a:hover {
      color: #f0f0f0;
    }
  }
}

code {
  border-radius: 3px;
  background-color: blanchedalmond;
  padding: 0.2em 0.3em;
}
a:visited {
  color: black;
}